@using Umbraco.Cms.Web.Common.PublishedModels;
@using GiaiPhapLogistics.Models.Generated;
@inherits Umbraco.Cms.Web.Common.Views.UmbracoViewPage<GiaiPhapLogistics.Models.Generated.FrontPage>

@{
    Layout = "Master.cshtml";
    var image = Model.Image is not null ? Model.Image.Url() : "/images/banner.png";
}

<div id="banner" class="banner" style="background-image: url(@image)">
    <div class="container h-full">
        <div class="d-flex flex-column justify-content-center h-full">
            @if (!String.IsNullOrEmpty(Model.Title))
            {
                <h1 class="text-white banner__title">@Model.Title</h1>
            }
            @if (!String.IsNullOrEmpty(Model.Description))
            {
                <p class="text-white banner__description">
                    @Model.Description
                </p>
            }
        </div>
    </div>
</div>
<div class="container-fluid bg-light">
    <div class="container">
        <div class="row">
            <div class="col-lg-4 col-12 py-5">
                <div class="company-info p-lg-4 p-2 d-flex align-items-center">
                    <i class="fal fa-user-headset color-secondary me-4"></i>
                    <div>
                        <p>Gọi chúng tôi bất cứ lúc nào</p>
                        <h6 class="color-primary">@Model.PhoneNumber</h6>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-12 py-5">
                <div class="company-info p-lg-4 p-2 d-flex align-items-center">
                    <i class="fal fa-stopwatch color-secondary me-4"></i>
                    <div>
                        <p>Giờ làm việc</p>
                        <h6 class="color-primary">@Model.WorkingDay</h6>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-12 py-5">
                <div class="company-info p-lg-4 p-2 d-flex">
                    <i class="fal fa-location color-secondary me-4"></i>
                    <div>
                        <p>Địa chỉ</p>
                        <h6 class="color-primary">@Model.Address</h6>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
@await Html.PartialAsync("~/Views/Partials/components/GeneralBlockList.cshtml", Model.Blocks)



